<%-include("header")-%>
<form action="/about" method="post">
<h1 class="about">Hello This is Sujal to do list </h1>
<button class="about-button" type="submit" >GO</button>
</form>
<%-include("footer")-%>